.react-logo {
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  span {
    width: 200px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    font-size: 22em;
    &:before {
      content: '⚛';
      font-weight: bold;
    }
  }
}

p, a{
  width: 400px;
  height: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}
